name: Deploy Spring Boot to EC2

on:
  push:
    branches: ["main"]

env:
  AWS_REGION: us-east-2
  EC2_HOST: 18.188.220.98
  EC2_USER: ubuntu
  EC2_PATH: /home/ubuntu/app

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Configure SSH
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.EC2_PRIVATE_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        echo "StrictHostKeyChecking no" >> ~/.ssh/config

    # Construir .jar EN GITHUB ACTIONS
    - name: Build Spring Boot Jar
      run: |
        cd app_recetario_backend
        mvn -B clean package

    # Limpiar carpeta en el servidor
    - name: Clean old files on EC2
      run: |
        ssh -i ~/.ssh/id_rsa ${{ env.EC2_USER }}@${{ env.EC2_HOST }} << EOF
          mkdir -p ${EC2_PATH}
          rm -rf ${EC2_PATH}/*
        EOF

    # Subir el nuevo JAR
    - name: Upload Jar to EC2
      run: |
        rsync -avz \
          -e "ssh -i ~/.ssh/id_rsa" \
          app_recetario_backend/target/*.jar \
          ${{ env.EC2_USER }}@${{ env.EC2_HOST }}:${{ env.EC2_PATH }}/app.jar

    # Reiniciar backend en EC2
    - name: Run Spring Boot on EC2
      run: |
        ssh -i ~/.ssh/id_rsa ${{ env.EC2_USER }}@${{ env.EC2_HOST }} << EOF
          cd ${EC2_PATH}
          pkill -f "app.jar" || true
          nohup java -jar app.jar > log.txt 2>&1 &
        EOF
